.h1-gray{
	font-size: 24px; 
	color: $gray-text;
	margin-bottom: 10px;
}

//resets
p{
	display: block;
    color: #909ca5;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 0;
}